@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* 
{
  box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}
body
{
  background-color: #1e112c;
}
.bg-indigo
{
  background-color: #6930c3;
}

.bg-indigo-dark
{
  background-color: #1e112c;
}
.section-title
{
    text-align: center;
    position: relative;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}

.section-title::after
{
    position: absolute;
    content: "";
    width: 80px;
    height: .15em;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    top: 2.5rem;
    background-color: #6930c3;
}

/* =========== BUTTON STYLE =============== */

.btn
{
  padding: 10px 25px;
}

.btn-indigo
{
  background-color: #6930c3;
  color: #fff;
}

.btn-indigo:hover
{
  background-color: #925ee7;
  color: #fff;
}

/* ========== NAVBAR SECTION ========== */
.navbar
{
  padding: 9px;
}

.icon-navbar
{
  width: 35px;
  height: 35px;
}
.navbar-brand
{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar  ul li a,
nav.navbar  ul li a::after,
nav.navbar  ul li a::before {
  transition: all 0.5s;
}

nav.navbar  ul li a {
  position: relative;
}

nav.navbar  ul li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #8b24e0;
  height: 2px;
}

nav.navbar  ul li a:hover::after {
  width: 100%;
}

.nav-item a.nav-link
{
  margin: 0 10px;
}

/* ========= HAMBURGER STYLE ======== */

.navbar-toggler
{
   outline: none;
   border: none;
}
.burger-align 
{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  
#simply-burger 
{
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.25s * 2 ease-in-out;
  cursor: pointer;
}
  
 
#simply-burger span 
{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition:0.25s ease-in-out;
}
  
 
#simply-burger span:nth-child(1) 
{
  top: 0px;
}
  
#simply-burger span:nth-child(2) 
{
  top: 7px;
}
  
#simply-burger span:nth-child(3) 
{
  top: 14px;
}
  
#simply-burger.open span:nth-child(1) 
{
  top: 10px;
  transform: rotate(135deg);
}
  
#simply-burger.open span:nth-child(2) 
{
  opacity: 0;
  left: -60px;
}
  
#simply-burger.open span:nth-child(3) 
{
  top: 10px;
  transform: rotate(-135deg);
}
  
/* ======= HEADING SECTION ========= */
.heading-section
{
  padding: 50px 0;
  height: calc(100vh - 3rem);
  background-color: #1e112c;
  
}

.heading-item-all
{
  padding: 70px 0;
}

.heading-data
{
  margin-top: 40px;
}

.heading-data h1
{
    font-size: 50px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}
.heading-data h4
{
    font-size: 40px;
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    /* font-family: 'Roboto',sans-serif; */
}

.heading-data .my-text3
{
  color: #750acc;
}

.heading-image img
{
    width: 200px;
}

/* ======= WAVE STYLE ============ */
.wave
{
  z-index: 1;
  position: relative;
  margin-top: -230px;
}


/* ======= ABOUT SECTION ======= */

.about-section
{
    height: calc(100vh - 3rem);
    padding: 50px 0;
    background-color: #fff;
}

.about-item-all
{
    padding: 30px 0;
}

.about-desc
{
  justify-content: center;
  margin: 80px 0;
}

.about-desc h4
{
  font-weight: bold;
  font-size: 28px;
  color: #6930c3;
}
.about-desc p
{
  line-height: 1.8;
  margin-top: 10px;
  color: #646464;
  font-family: 'Roboto',sans-serif;
}
.about-image
{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-image img
{
  width: 370px;
}



/* ========== SKILL SECTION ======= */

.skill-section
{
    height: calc(150vh - 3rem);
    padding: 50px 0;
    background-color: #fff;
}

.skill-data-all
{
  padding: 30px auto;
}
.skill-img
{
  display: flex;
  justify-content: center;
}
.skill-img img
{
  width: 350px;
}

/* ============ SKILL PROGRESS =========== */

.icon-skill
{
  width: 25px;
  height: 25px;
}

.card-skill h5
{
  color: #6930C3;
}

.progress-title
{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px 0;
  
}

.progress-icon
{
  display: flex;
  
}
.progress{
  height: 15px;
  line-height: 15px;
  border-radius: 20px;
  background: #f0f0f0;
  margin-bottom: 30px;
  box-shadow: none;
  overflow: visible;
}
.progress .progress-bar{
  position: relative;
  border-radius: 20px 0 0 20px;
  animation: animate-positive 2s;
}
.progress .progress-value{
  display: block;
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 8px;
}
@-webkit-keyframes animate-positive{
  0% { width: 0%; }
}
@keyframes animate-positive{
  0% { width: 0%; }
}

/* ========== TIMELINE SECTION ========= */
.timeline-section
{
  height: calc(130vh - 3rem);
  padding: 70px 0;
  background-color: #fff;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #8853dd;
  color: #ffffff;
  max-height: 50px;
  z-index: 2;
}

.node-path.row .col-2 
{
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.node-path.row .col-2::after 
{
  content: "";
  position: absolute;
  border-left: 3px solid #6930C3;
  z-index: 1;
}

.node-path.row .col-2.bottom::after 
{
  height: 50%;
  left: 50%;
  top: 50%;
}

.node-path.row .col-2.full::after 
{
  height: 100%;
  left: calc(50% - 3px);
}

.node-path.row .col-2.full-left::after 
{
  height: 100%;
  left: calc(52% - 3px);
}
.node-path.row .col-2.top::after 
{
  height: 50%;
  left: 50%;
  top: 0;
}

.node-path.row .col-2.top-right::after 
{
  height: 50%;
  left: 48.5%;
  top: 0;
}

.timeline div 
{
  padding: 0;
  height: 40px;
}

.timeline hr 
{
  border-top: 3px solid #6930C3;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 
{
  display: flex;
  overflow: hidden;
}
.timeline .corner 
{
  border: 3px solid #6930C3;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right 
{
  left: 50%;
  top: -50%;
}
.timeline .left-bottom 
{
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left 
{
  left: -50%;
  top: -50%;
}
.timeline .right-bottom 
{
  left: 50%;
  top: calc(50% - 3px);
}


/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 900px)
{
  /* ========= NAVBAR MENU ============= */
  .navbar-collapse
  {
    text-align: center;
  }
  .navbar-nav .nav-item
  {
    margin: 15px 0;
  }
  /* =========== WAVE SECTION ============ */
  .wave
  {
    display: none;
  }
  /* ======= HEADING SECTION ========= */
  .heading-section
  {
    height: calc(120vh - 3rem);
    border-radius: 0 0 30px 30px;
  }

  /* ======= ABOUT SECTION ======= */
  .about-section
  {
    height: calc(150vh - 3rem);
  }

  /* ======= SKILL SECTION ======= */
  .skill-section
  {
    height: calc(100vh - 3rem);
  }
}

@media screen and (max-width: 480px)
{
  .section-title
  {
    font-size: 25px;
  }
   /* ======= HEADING SECTION ========= */
   .heading-section
   {
     height: 35em;
   }
   .heading-data
   {
     order: 1;
     text-align: center;
   }
   .heading-data h1
   {
     font-size: 28px;
   }
   .heading-data h3
   {
     font-size: 18px;
   }
   .heading-image img
   {
     width: 150px;
   }

   /* ======= WAVE STYLE ============ */
    .wave
    {
      display: none;
    }
   /* ======= ABOUT SECTION ======= */
   .about-section
  {
    height: 50em;
    border-radius: 20px 20px 0 0;
  }
  .about-desc h4
  {
    font-size: 25px;
    text-align: center;
  }
  .about-desc p
  {
    text-align: center;
  }
   .about-image img
  {
    width: 270px;
  }

  /* ========== SKILL SECTION ======= */
  .skill-section
  {   
    height: 100%;
  }
  .skill-data-all
  {
    padding: 50px auto;
  }
  .card-skill
  {
    order: 1;
    margin-top: 20px;
  }
  .skill-img
  {
    margin: 30px 0;
  }
  .skill-img img
  {
    width: 250px;
  }

  /* ========== TIMELINE SECTION ======= */
  .timeline-section
  {
    height: calc(100vh - 3rem);
    padding: 70px 0;
  }

  .node-path.row .col-2.full-left::after 
  {
    height: 100%;
    left: calc(55% - 3px);
  }
  .node-path.row .col-2.top-right::after 
  {
    height: 50%;
    left: 45%;
    top: 0;
  }


}
